.topNav{
    max-width: 100vw;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    height: 5vh;
    /* border: 1px solid red; */
    /* border: 1px solid grey; */
    /* border-bottom: 1px solid grey; */
  }
  .search{
    margin-left: 1vw;
    width: 60vw;
  }
  .icons{
    display: flex;
    gap: 3vw;
    width: 20vw;
  }
  .topNav input{
    border-radius: 10px;
    border: 2px solid rgb(219, 219, 0);
  }
  .login{
    display: flex;
    height: 6vh;
    margin-right: 3vw;
    
    
  }
  .login button{
    font-size: 0.5rem;
    border-radius: 10px;
    border: 1px solid yellow;
  }